<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88CDAF041CCF076B0017DE61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CDAF1D1CCF076B0017DE61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88CDAF281CCF076B0017DE61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
